<!DOCTYPE html>
<html ng-app="achMain">
<head>
  <!-- Load base libraries -->
  <script src="js/jquery.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/btn-file.js"></script>
  <!--<script type="text/javascript" src="bootstrap/js/bootstrap.file-input.js"></script>-->
  <script type="text/javascript" src="js/FileSaver.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="settings.js"></script>
  <script type="text/javascript" src="js/ach.help.js"></script>
  <script type="text/javascript" src="js/ach.directives.js"></script>
  <script type="text/javascript" src="js/ach.main.js"></script>

  <!-- Loads BeardAch trigger/reward definitions into the application  -->
  <script type="text/javascript" src="js/ach.config.js"></script>  


  <title>BeardAch::Editor</title>
  <!-- Bootstrap -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <!-- custom styling -->
  <style type="text/css">
  .left-border-lined{
    border-left: 1px solid #CCC;
    padding-left: 5px;
    margin-left:3px;
  }
  </style>

  <!-- Partials for the trigger / reward forms to build off of -->
  <script type="text/ng-template" id="partial.ele.text">
  <div class="input-group col-md-6">
  <label class="input-group-addon">${label}</label>
  <input class="form-control" type="text" ng-model="${model.key}"/>
  </div>
  </script>
  <script type="text/ng-template" id="partial.ele.bool">
  <div class="input-group col-md-6">
  <label class="input-group-addon">${label}</label>
  <input type="checkbox" ng-model="${model.key}"/>
  </div>
  </script>
  <script type="text/ng-template" id="partial.ele.location">
  <div class="input-group col-md-6">
  <label class="input-group-addon">${label}</label>
  <span class="input-group-addon">World</span><input class="form-control" type="text" ng-model="${model.key}.world"/>
  <span class="input-group-addon">X</span><input class="form-control" type="number" ng-model="${model.key}.x"/>
  <span class="input-group-addon">Y</span><input class="form-control" type="number" ng-model="${model.key}.y"/>
  <span class="input-group-addon">Z</span><input class="form-control" type="number" ng-model="${model.key}.z"/>
  </div>
  </script>
  <script type="text/ng-template" id="partial.ele.cuboid">
  <div class="input-group col-md-6">
  <label class="input-group-addon">${label}</label>
  <span class="input-group-addon">World</span><input class="form-control" type="text" ng-model="${model.key}.world"/>
  </div>
  <div class="input-group col-md-6">
  <span class="input-group-addon">x1</span><input class="form-control" type="number" ng-model="${model.key}.v1.x"/>
  <span class="input-group-addon">y1</span><input class="form-control" type="number" ng-model="${model.key}.v1.y"/>
  <span class="input-group-addon">z1</span><input class="form-control" type="number" ng-model="${model.key}.v1.z"/>
  </div>
  <div class="input-group col-md-6">
  <span class="input-group-addon">x2</span><input class="form-control" type="number" ng-model="${model.key}.v2.x"/>
  <span class="input-group-addon">y2</span><input class="form-control" type="number" ng-model="${model.key}.v2.y"/>
  <span class="input-group-addon">z2</span><input class="form-control" type="number" ng-model="${model.key}.v2.z"/>
  </div>
  </script>
  <script type="text/ng-template" id="partial.ele.selection">
  <div class="input-group col-md-6">
  <span class="input-group-addon">${label}</span><select class="form-control" type="text" ng-model="${model.key}">
  ${values}
  </select>
  </script>

  <script type="text/ng-template" id="partial.ele.trigger">
  <h4>${label}</h4>
  <ach-trigger-list list="${model.key}"></ach-trigger-list>
  </script>

  <script type="text/ng-template" id="partial.ele.number">
  <div class="input-group col-md-6">
  <label class="input-group-addon">${label}</label>
  <input class="form-control" type="number" min=${model.min} max=${model.max} ng-model="${model.key}"/>
  </div>
  </script>

  <script type="text/ng-template" id="achListTriggerTemplate">
  <div class="left-border-lined">
  <div class="input-group col-md-4">
  <select class="form-control" ng-model="ui.selected" ng-options="k as v for (k,v) in getTriggers()"></select>
  <span class="input-group-btn"><button class="btn" ng-click="ui.addTrigger()">Add</button></spawn>
  </div>
  <!-- loop -->
  <div ng-repeat="trigger in list" class="left-border-lined">
  <div class="input-group"><div class="input-group-addon"><b>{{getTriggers()[trigger._type]}}</b></div><button class="btn btn-danger" ng-click='ui.remItem(list,$index)'>remove</button></div><br/>
  <ach-trigger entry="trigger"></ach-trigger>
  </div>
  </div>
  </script>



  <!-- Default achievement JSON -->
  <script type="text/ng-template" id="newAchJSON">
  {
    "slug": "",
    "name": "",
    "descrip": "",
    "hidden": false,
    "broadcast": "BROADCAST",
    "triggers": [],
    "rewards": []
  }
  </script>
<!-- 
<script type="text/ng-template" id="partial."></script>
-->

</head>
<body ng-controller="achList">
  <!-- App Start -->
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BeardAch Editor</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="nav navbar-nav">
              <button class="btn navbar-btn" ng-click="load()">Load</button>
              <button class="btn navbar-btn" ng-click="save()">Save</button>
              <button class="btn navbar-btn" ng-click="newAch()">add</button>
            </div>
            <div class="nav navbar-nav navbar-right">
              <div class="form-group form-inline">
                <input class="form-control navbar-btn" type="text" placeholder="filter list" ng-model="ui.search" ng-change="ui.pageStart=1">
                <button class="btn btn-info navbar-btn" ng-click="ui.dec()"><<</button>
                <input class="form-control navbar-btn" type="text" ng-model="ui.pageStart"/>
                of {{ui.pages()}}
                <button class="btn btn-info navbar-btn" ng-click="ui.inc()">>></button>
                <select class="form-control navbar-btn" type="text" ng-model="ui.perPage">
                  <option>5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                  <option>100</option>
                </select>
              </div>
            </div>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="row" ng-show="ui.editIndex == -1 ">
      <div class="col-md-12">

        <table class="table table-striped">
          <thead><th>Slug</th><th>Name</th><th>Description</th><th>Edit</th><th>Remove</th></thead>
          <tbody>
            <tr ng-repeat="ach in achievements | achsearch:ui.search | startat:((ui.pageStart-1)*ui.perPage) | limitTo:ui.perPage">
              <td>{{ach.slug}}</td>
              <td>{{ach.name}}</td>
              <td>{{ach.descrip}}</td>
              <td><button ng-click="edit(ach)" class="btn">edit</button></td>
              <td><button ng-click="remove(ach)" class="btn">remove</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- App End -->
    </div>

    <!-- Editor window -->
    <div class="row" ng-show="ui.editIndex != -1">
      <div id="editor" class="col-md-10">
        <button class="btn btn-primary" ng-click="ui.editIndex = -1"><i class="glyphicon glyphicon-arrow-left"></i> Return to achievement list</button>
        <h3 id="myModalLabel">Edit achievement</h3>
        <!--<pre>{{achievements[ui.editIndex]}}</pre>-->
        <form class="form form-horizontal">
          <div class="control-group"><label class="control-label">id:</label><div class="controls"><input class="form-control" type="text" ng-model="achievements[ui.editIndex].slug"/></div></div>
          <div class="control-group"><label class="control-label">name:</label><div class="controls"><input class="form-control" type="text" ng-model="achievements[ui.editIndex].name"/></div></div>
          <div class="control-group"><label class="control-label">description:</label><div class="controls"><input class="form-control" type="text" ng-model="achievements[ui.editIndex].descrip"/></div></div>
          <label>Hidden: </label><input type="checkbox" ng-model="achievements[ui.editIndex].hidden"/>
          <div class="control-group"><label class="control-label">broadcast:</label><div class="controls"><select class="form-control" ng-model="achievements[ui.editIndex].broadcast">
            <option value="PERSON">person</option>
            <option value="BROADCAST">all</option>
            <option value="NONE">noone</option>
          </select></div></div>
        </form>
        <hr>
        <h3>Triggers</h3>
        <ach-trigger-list list="achievements[ui.editIndex].triggers"></ach-trigger-list>

        <hr>
        <h3>Rewards</h3>
        <div class="input-group col-md-4">
          <select class="form-control" ng-model="ui.rewardSelected" ng-options="k as v for (k,v) in optreward"></select>
          <span class="input-group-btn"><button class="btn" ng-click="ui.addReward()">Add</button></span>
        </div>
        <div ng-repeat="reward in achievements[ui.editIndex].rewards" class="left-border-lined" >
          <div class="input-append">
            <div class="add-on btn-large"><b>{{optreward[reward._type]}}</b></div><button class="btn btn-danger" ng-click='remItem(achievements[ui.editIndex].rewards,$index)'>remove</button>
          </div>
          <ach-reward entry="reward">{{reward | json}}</ach-reward>
        </div>
        <br/>
        <button class="btn btn-primary" ng-click="ui.editIndex = -1"><i class="glyphicon glyphicon-arrow-left"></i> Return to achievement list</button>
      </div>
    </div>
  </div>


  <!-- Confirm delete achievement -->
  <div class="modal fade" id="modalConfirmDelete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Confirm delete achievement</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you wish to delete achievement <br/>
            ID: {{achievements[ui.deleteIndex].slug}}<br/>
            Name: {{achievements[ui.deleteIndex].name}}</p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">!ABORT!</button>
            <button ng-click="_actualDelete()" class="btn btn-danger">Corfirm</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Load window -->
    <div class="modal fade" id="modalLoad">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Confirm delete achievement</h4>
          </div>
          <div class="modal-body">
            <div class="input-group col-md-6">
              <span class="input-group-btn">
                <button class="btn btn-primary btn-file ">
                  Load JSON <input type="file" id="loadFile">
                </button>
              </span>
              <input type="text" class="form-control btn-file-label" readonly/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" ng-click="loadFromFile('#loadFile')">Load</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- save window -->
    <div class="modal fade" id="modalSave">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Save achievements</h4>
          </div>
          <div class="modal-body">
            <p>Use the Save to file button to save the achievements to your computer.</p>
            <p>Alternatively if you are using an ancient browser, you can copy the contents of the textarea below.</p>
            <textarea readonly rows="15" cols="240" style="width:480px;height:320px">
              {{achievements | json}}
            </textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveAsFile()">Save to file</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

       
   <!-- save window -->
   <div class="modal fade" id="modalHelp">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"Help :: {{help.selectedItem.name}}</h4>
          </div>
          <div class="modal-body">
           <b>name:</b> {{help.selectedItem.name}}<br />
      <b>Description:</b> {{help.selectedItem.description}}<br />
      <b>dependencies: </b>{{help.selectedItem.dependencies}}<br />
      <ul>
        <li ng-repeat="f in help.selectedItem.fields">{{f.name}} - {{f.description}}</li>
      </ul>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveAsFile()">Save to file</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</body>
</html>