<!-- 
TODO : 
* Load from file input
* Add achievement (add to front of list)
* Achievement editor window
* Remove achievement
* Pagination
* Save to file
-->
<!DOCTYPE html>
<html ng-app="achMain">
<head>
  <!-- Load base libraries -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.file-input.js"></script>
<script type="text/javascript" src="js/FileSaver.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="settings.js"></script>
<script type="text/javascript" src="js/ach.directives.js"></script>
<script type="text/javascript" src="js/ach.main.js"></script>

<!-- Load AngularJS components -->
<!-- <script type="text/javascript" stc="js/ach.config.js"></script> -->
<!-- Loads BeardAch trigger/reward definitions into the application  -->
<script type="text/javascript">
function _generateTemplate(prefix,entry,tempCache){
  var templateName = prefix + "." + entry.type;
  var html = "<h2>" + entry.name + "</h2>";
  for(x in entry.fields){
    html += tempCache.get("partial.ele." + entry.fields[x].type)
    .replace(/\$\{label\}/g,entry.fields[x].name)
    .replace(/\$\{model\.key\}/g,"entry." + entry.fields[x].key);
  }
  html+="<hr>";
  console.log("template created: " + templateName);
  tempCache.put(templateName,html);
}

initConfig = function(data){
  tempCache = angular.element("body").injector().get("$templateCache");
  for(x in data.triggers){
    _generateTemplate("trigger",data.triggers[x],tempCache);
  }

  for(x in data.rewards){
    _generateTemplate("reward",data.rewards[x],tempCache);
  }
}
</script>

  <title>BeardAch::Editor</title>
  <!-- Bootstrap -->
 <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
 <style type="text/css">
 </style>
<script type="text/ng-template" id="partial.ele.text">
  <div class="input-prepend">
  <label class="add-on">${label}</label>
  <input type="text" ng-model="${model.key}"/>
  </div>
</script>
<script type="text/ng-template" id="partial.ele.bool">
  <div class="input-prepend">
  <label class="add-on">${label}</label>
  <input type="checkbox" ng-model="${model.key}"/>
  </div>
</script>
<script type="text/ng-template" id="partial.ele.location">
  <div class="input-prepend input-append"><label class="add-on">${label}</label>
    <span class="add-on">World</span><input type="text" ng-model="${model.key}.world"/>
    <span class="add-on">X</span><input class="input-mini" type="text" ng-model="${model.key}.x"/>
    <span class="add-on">Y</span><input class="input-mini" type="text" ng-model="${model.key}.y"/>
    <span class="add-on">Z</span><input class="input-mini" type="text" ng-model="${model.key}.z"/>
  </div>
</script>
<script type="text/ng-template" id="partial.ele.cuboid">
  <div class="input-prepend input-append"><label class="add-on">${label}</label>
    <span class="add-on">World</span><input type="text" ng-model="${model.key}.world"/>
  </div>
  <div class="input-prepend input-append">
    <span class="add-on">x1</span><input class="input-mini" type="text" ng-model="${model.key}.v1.x"/>
    <span class="add-on">y1</span><input class="input-mini" type="text" ng-model="${model.key}.v1.y"/>
    <span class="add-on">z1</span><input class="input-mini" type="text" ng-model="${model.key}.v1.z"/>
  </div>
  <div class="input-prepend input-append">
    <span class="add-on">x2</span><input class="input-mini" type="text" ng-model="${model.key}.v2.x"/>
    <span class="add-on">y2</span><input class="input-mini" type="text" ng-model="${model.key}.v2.y"/>
    <span class="add-on">z2</span><input class="input-mini" type="text" ng-model="${model.key}.v2.z"/>
  </div>
</script>
<!--
<script type="text/ng-template" id="partial."></script>
<script type="text/ng-template" id="partial."></script>
<script type="text/ng-template" id="partial."></script>
-->

</head>
<body>
<div class="container">
<div class="row">
<div class="span8">
<!-- App Start -->
<h1>BeardAch Editor</h1>
<div ng-controller="achList" class="lock">
<div class="form-horizontal" style="margin:auto">
<button class="btn" ng-click="load()">Load</button> | <button class="btn">Save</button> | <button class="btn">add</button> | <input type
="text" placeholder="filter list"> | PAGINATE <!-- Pagination controls here !! --></div>
<table class="table table-striped">
<thead><th>Slug</th><th>Name</th><th>Description</th><th>Edit</th><th>Remove</th></thead>
<tbody>
<!-- TODO : PAGINATION FILTER -->
<tr ng-repeat="ach in achievements">
<td>{{ach.slug}}</td>
<td>{{ach.name}}</td>
<td>{{ach.descrip}}</td>
<td><button ng-click="edit($index)" class="btn">edit</button></td>
<td><button ng-click="remove($index)" class="btn">remove</button></td>
</tr>
</tbody>
</table>

<!-- FOR THE EDITOR WINDOW 
    <ach-trigger ng-repeat="trigger in ach.triggers" entry="trigger"></ach-trigger>
    <ach-reward ng-repeat="reward in ach.rewards" entry="reward">{{reward | json}}</ach-reward>
-->
</div>
<!-- App End -->
</div>
</div>
</div>


<!-- OLD CODE -->
<!--<script type="text/javascript" src="js/data-config.js"></script>-->

</body>
</html>